<div ng-app="linkser" ng-controller="SiteController">
  <section class="jumbotron text-xs-center">
    <div class="container">
      <h1 class="jumbotron-heading">{{greeting}}</h1>

      <form class="form-inline" ng-submit="addSite()">
        <div class="form-group">
          <input type="text" class="form-control" id="exampleInputName2" placeholder="Name" ng-model="name">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="exampleInputEmail2" placeholder="URL" ng-model="url">
        </div>
        <div class="form-group">
          <input type="text" name="cities" class="form-control tagsinput" value="" data-role="tagsinput" placeholder="Tags" ng-model="tags">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Description" ng-model="description">
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
      </form>

    </div>
  </section>


  <div class="container">
    <div class="row">
      <div class="col-sm-3" ng-repeat="site in sites">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">{{site.name}}</h4>
            <h6 class="card-subtitle text-muted">{{site.object_type}}</h6>
          </div>
          <img src="http://free.pagepeeker.com/v2/thumbs.php?size=m&url={{site.url}}" alt="Card image" width="100%">
          <div class="card-block">
            <p class="card-text">{{site.description}}</p>
            <p class="card-text">
            <div class="tag tag-default" ng-repeat="tag in site.tags track by $index">{{tag}}</div>
            </p>
            <a href="http://{{site.url}}" class="card-link" target="_blank">Open</a>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>

<%= render 'add_site' %>
