body{
    background: #333;
}

.jumbotron{
    border-radius: 0;
    background: #3C484F;
}

.navbar{
    border-radius: 0;
}

.card{
    background: #3C484F;
    color: #fff;
}

.bootstrap-tagsinput{
    border: 2px solid #dce4ec;
    color: #34495e;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    padding: 7px 0 7px 7px;
    text-indent: 1px;
    border-radius: 6px;
    box-shadow: none;
    line-height: 17px;
    min-width: 161px;
    min-height: 38px;
    text-align: left !important;
}

.tagsinput:focus{
    border-color: #1abc9c !important;
    box-shadow: none !important;
}

.bootstrap-tagsinput .tag{
    font-family: "Lato", sans-serif;
    background: #1abc9c;
    color: #fff;
    padding: 5px 8px 5px 8px;
}

.list-group-item{
    background: #3C484F;
    border: 0;
    color: #F7F7F7;
}
.list-group-item-text{
    color: #F7F7F7;
}
.list-group-item:hover{
    background: #434f56;
    border: 0;
    color: #F7F7F7;
}

.item-menu{
    position: absolute;
    right: 10px;
    top: 5px;
    left: auto;
}
.item-table button{
    margin: 4px;
    z-index: 99999;
}
select.form-control:not([size]):not([multiple]){
    background: #34495E;
    border: 0;
    color: #F7F7F7;
    max-height: 38px;
}

.card-title{
    text-transform: uppercase;
}
